* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cars {
  background-color: rgb(228, 228, 228);
  border-color: red;
  .sect-container {
    margin: auto;
    max-width: 1140px;
    .row {
      padding: 0 20px;
      .sect-header {
        display: flex;
        justify-content: end;
        gap: 20px;
        padding: 20px 0;
        .name-search {
          display: flex;
          border: 2px solid black;
          border-radius: 25px;
          overflow: hidden;

          .search-icons {
            height: 40px;
            width: 50px;
            // padding: 0 20px;
            display: flex;
            position: relative;
            &:hover {
              cursor: pointer;
            }
            .fa-circle {
              font-size: 20px;
              position: absolute;
              top: 5px;
              left: 10px;
              transition: .5s;
            }
            .fa-minus {
              transform: rotate(45deg);
              top: 17px;
              left: 23px;
            }
            .visible {
              position: absolute;
              transition: .5s;
            }
            .invisible {
              position: absolute;
              transition: .5s;
              // transform: rotate(135deg);
            }
          }
          input {
            height: 40px;
            border: none;
            outline: none;
            max-width: 0px;
            background-color: transparent;
          }
        }
        button {
          padding: 10px;
          font-weight: 700;
        }
        select {
          option {
            padding: 10px;
          }
        }
      }
      .cards-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .card {
          width: 25%;
          padding: 10px;
          .card-inside {
            background-color: white;
            border: 1px solid black;
            border-radius: 5px;
            padding: 5px;
            .card-img {
              border-radius: 5px;
              overflow: hidden;
              img {
                width: 100%;
              }
            }
            .card-writings {
              .car-price {
                p {
                  font-size: 20px;
                }
              }
              .car-name {
                font-weight: 700;
              }
              .about-car {
                color: rgb(90, 90, 90);
              }
            }
          }
        }
      }
    }
  }
}

.fa-minus-onClick {
  top: 12px !important;
  left: 13px !important;
}

.rotate135-onClick {
  transform: rotate(135deg) !important;
}

.circle-top {
  top: 10px !important;
  left: 10px !important;
}

.input-width {
  max-width: 160px !important;
  padding: 5px 20px 5px 0 !important;
}
